#titulo{
    text-shadow: 2px 2px 10px #989898;;
}

#cancelar {
    color: blue; 
    text-decoration: none; 
}
  
#cancelar:hover {
    color: red; 
}

#quadrado {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type="checkbox"]:checked {
    background-color: blue;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

input[type="submit"]:hover {
    background-color: #0062cc;
}