.btnEdit {
    display: inline-block;
    padding: 12px 20px;
    margin-left: 5px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.btnEdit:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

/* Container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.text-container {
    flex: 0 0 60%;
}

.main-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #007BFF;
    margin: 0;
    padding: 10px;
}

/* Action Bar */
.action-bar {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
}

.action-bar button {
    margin-left: 10px;
}

/* Tabela */
.container-table {
    width: 95%;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #007BFF;
    color: #fff;
}

th,
td {
    padding: 15px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Responsividade */
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-container {
        flex: 0 0 100%;
        margin-top: 10px;
    }

    .action-bar {
        justify-content: center;
    }

    .action-bar button {
        margin-left: 5px;
        margin-right: 5px;
    }

    .container-table {
        width: 100%;
        overflow-x: auto;
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
    }

    th,
    td {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}